<mat-card style="margin: 20px;">
  <mat-card-title fxLayout>
    <span>Customers</span>
    <span fxFlex> </span>
    <button (click)="addCustomer()" class="addButton" mat-mini-fab color="primary">
      <mat-icon aria-label="Add Customer">add</mat-icon>
    </button>
  </mat-card-title>

  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search Customer</mat-label>
      <input matInput [formControl]="filterInputStr" type="text" placeholder="Search Customer" value="filterInputStr">
    </mat-form-field>
  </form>

</mat-card>


<app-customer-list-table [customers]="(customers$ | async) || []"></app-customer-list-table>

