<div style="height:100vh; display:flex; flex-direction:column;">
  <mat-toolbar color="primary">
    <button mat-icon-button matRipple (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    Simple CRM
  </mat-toolbar>
  <mat-sidenav-container style="flex:1 100%">
    <mat-sidenav #sidenav [opened]="true" [mode]="'side'">
      <mat-nav-list>
        <a mat-list-item matRipple [style.position]="'relative'"
          routerLinkActive="selected" [routerLink]="['.']">
          <mat-icon matListIcon>home</mat-icon>
          <h4 matLine>Customers</h4>
        </a>
        <a mat-list-item matRipple [style.position]="'relative'"
          routerLinkActive="selected" [routerLink]="['.']">
          <mat-icon matListIcon>chat</mat-icon>
          <h4 matLine>Pipeline</h4>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    Some content
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-container>
  <div class="footer">
    Footer
  </div>
</div>
