/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.hero-wide.mdl-card.banner-buy > .mdl-card__title {
    color: #fff;
    text-shadow: 6px 6px 12px #000000;
    height: 400px;
    background: url(/images/picturebanner.jpg);
    background-position: center;
    background-size:cover;
}

.hero-wide.mdl-card > .mdl-card__title h2 {
    font-size: 400%;
}

.hero-wide.mdl-card > .mdl-card__title h3 {
    font-size: 300%;
}

.hero-wide.mdl-card > .mdl-card__title h4 {
    font-size: 200%;
}

.hero-wide > .mdl-card__menu {
    color: #fff;
}

.hero-wide.mdl-card, .hero-wide {
    width: 80%;
    margin: auto;
}

.hero-wide {
    margin-bottom: 2rem;
}

.feature-list-body.mdl-list, .content {
    width: 80%;
    margin: auto;
}

.mdl-list img.mdl-list__item-icon {
    height: 64px;
    width: 44px;
}

.timeline-body.mdl-list {
    width: 60%;
    margin: auto;
}

    .timeline-body.mdl-list .mdl-list__item-icon.time-icon {
        width: 70px;
        height: 60px;
    }

.material-icons.md-18, .material-icons.md-18.mdl-list_item-icon {
    font-size: 18px;
}

.material-icons.md-24, .material-icons.md-24.mdl-list_item-icon {
    font-size: 24px;
}

.material-icons.md-36, .material-icons.md-36.mdl-list_item-icon {
    font-size: 36px;
}

.material-icons.md-48, .material-icons.md-48.mdl-list_item-icon {
    font-size: 48px;
}

blockquote:before, blockquote:after {
    content: '';
    display: none;
}

.quote-box {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
}

.quote-text {
    font-size: 110%;
    line-height: 1;
}

    .quote-text:before, .quote-text:after {
        content: '"';
    }

.quotation-mark {
    margin-top: -10px;
    font-size: 100px;
    color: #9e9e9e;
}

.btn-provider {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 0;
    margin: 1rem;
}

.btn-provider-microsoft {
    background-image: url('/assets/Microsoft_full_logo.svg');
}

.btn-provider-facebook {
    background-image: url('/assets/facebook_full_logo.svg');
}

.btn-provider-google {
    background-image: url('/assets/Google_full_Logo.svg');
}

@media screen and (max-width: 1024px) {
    .hero-wide.mdl-card {
        width: 100%;
    }

    .feature-list-body.mdl-list, .content {
        width: 95%;
    }

    .timeline-body.mdl-list {
        width: 80%;
    }
}

@media screen and (max-width:800px) {
    .hero-wide.mdl-card > .mdl-card__title h2 {
        font-size: 300%;
    }

    .hero-wide.mdl-card > .mdl-card__title h3 {
        font-size: 200%;
    }

    .hero-wide.mdl-card > .mdl-card__title h4 {
        font-size: 100%;
    }

    .feature-list-body.mdl-list, .content,
    .timeline-body.mdl-list {
        width: 95%;
    }
}