@{
    ViewData["Title"] = "Overview";
}

<div class="hero-wide mdl-card mdl-shadow--2dp hero-top banner-buy">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Stay Involved with Clients</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Never forget to followup again.
    </div>
</div>

<div class="content">
    <h3>Benefits</h3>
    <p>
        Say something special here...
    </p>
    <p>
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
        content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum
        as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions
        have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
</div>

<div class="content">
    <h3>Our Features</h3>
    <p>
        We love customer relationship management. Check out these amazing features.
    </p>
</div>

<ul class="mdl-list feature-list-body">
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">group</i>
            <span>Feature 1</span>
            <p class="mdl-list__item-text-body">
                Description of feature 1
            </p>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">accessibility</i>
            <span>Feature 2</span>
            <p class="mdl-list__item-text-body">
                Description of feature 2
            </p>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">build</i>
            <span>Feature 3</span>
            <p class="mdl-list__item-text-body">
                Description of feature 3
            </p>
        </span>
    </li>
</ul>

<div class="hero-wide">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect  mdl-button--raised"
       href="/account/register">
        Signup Today
    </a>
</div> 